# конфиг для flake8 проверять только проект
[flake8]
# Проверять только нужную домашнюю работу
src = project_Home_14_1
# Расширяем лимит длины строки до комфортных 119 символов
max-line-length = 119
# Игнорируем лишние папки, если утилита всё же решит туда заглянуть
exclude =
    .git,
    __pycache__,
    .venv,
    oop_additional_tasks,
    SkyPro_14_1,
    SkyPro_14_1_9_Zadachya